#content {
    margin: 2em;
    width:100%;
    padding: 10px;
    font-family: 'Inconsolata', monospace;
}

.row{
    margin: auto;
    width:100%;
}

pre{
    background-color:black;
}

#about {
    border: 2px solid black;
    box-shadow: 0.5em 0.5em 2px gray;
    position: sticky;
    padding: 1em;
    width:16em;
    margin:0.7em;
    font-family: 'Inconsolata', monospace;
}

aside {
    width: 30%;
    float: right;
}

#blog {
}

article{
    padding:1em;
    border:2px solid black;
    width:20em;
}