header {
    background-color: black;
    font-family: 'Inconsolata', monospace;
    color: white;
}

    header li {
        padding: 0 3em 0 3em;
    }

#content {
    margin: 2em;
    width:100%;
    padding: 10px;
    font-family: 'Inconsolata', monospace;
}

.row{
    margin: auto;
    width:100%;
}

pre{
    background-color:black;
}

#about {
    border: 2px solid black;
    box-shadow: 0.5em 0.5em 2px gray;
    position:sticky;
    top:0;
    padding: 1em;
    width:70vw;
    max-width:100%;
    margin:0.7em;
    margin-right:3em;
    font-family: 'Inconsolata', monospace;
}

aside {
    max-width: 90%;
    margin: 0 auto;
}

#blog {
    font-family: 'Inconsolata', monospace;
    display:none;
}

article {
    padding: 1em;
    border: 1px dotted gray;
    margin: 1em auto;
    max-width: 100%;
    margin-left:0px;
    width:50vw;
}

time{
    font-weight:200;
    color:gray;
    font-size:small;
}

#education {
    font-family: 'Inconsolata', monospace;
    display: none;
    width: 50vw;
    margin: 0.7em;
    padding: 1em;
}

#education button {
    width:90vw;
    max-width:100%;
    background-color:white;
    text-align:left;
    padding:1em;
    margin-top:3em;
}

#education button:hover{
    border-color:red;
}

#education .info{
    display:none;
}

#education button img{
    float:right;
    margin:0 auto;
    max-width:100%;
}


footer {
    background-color: black;
    font-family: 'Inconsolata', monospace;
    font-size:1.5vh;
    color:white;
    text-align:center;
}